
/*
brand fonts: Montserrat, Quattrocento Sans, Gruppo, Fredericka the Great;
brand colors: #f6f7f4, #86b58c, #5c96be, #738494, #38404c;
*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  background-color: #5c96be;
}

/********************  Header  ********************/

header {
  height: 50px;
  margin: 10px 15px;
}

header h1 {
  display: inline;
  /* margin: 0 15px; */
  font-size: 2.5em;
}

header h6 {
  display: inline;
  font-size: 1.2em;
  font-weight: 300;
  color: white;
}

header li {
  display: inline-flex;
  float: right;
  margin-top: 15px;
}

header a {
  text-decoration: none;
  color: white;
}

header li a {
  margin: 0px 10px;
  padding: 10px 14px;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 300;
  letter-spacing: 1px;
  border-radius: 5px;
  transition: ease-in-out .25s;
  -moz-animation: ease-in-out .25s;
  -o-animation: ease-in-out .25s;
  -webkit-animation: ease-in-out .25s;
}

header li a:hover {
  background-color: white;
  color: #5c97be;
  transition: ease-in-out .25s;
  -moz-animation: ease-in-out .25s;
  -o-animation: ease-in-out .25s;
  -webkit-animation: ease-in-out .25s;
}

#searchCTA {
  border: 1px solid white;
}

/********************  Main  ********************/

main {
  max-width: 80vw;
  margin: 0 auto 100px auto;
  text-align: center;
}

section {
  margin: 0 5vw;
}

.section-title h2 {
  margin-right: -8vw;
  margin-top: 100px;
  margin-bottom: 25px;
  font-family: "Montserrat", sans-serif;
  text-align: right;
  text-transform: uppercase;
  color: #00000033;
  font-size: 7vw;
  font-weight: 900;
  line-height: .9;
  transform: skewY(3deg);
  transition: ease-in-out .25s;
  -moz-animation: ease-in-out .25s;
  -o-animation: ease-in-out .25s;
  -webkit-animation: ease-in-out .25s;
}

.section-title h2:hover {
  color: #ffffff85;
  transition: ease-in-out .25s;
  -moz-animation: ease-in-out .25s;
  -o-animation: ease-in-out .25s;
  -webkit-animation: ease-in-out .25s;
}

.dark-section {
  background-color: #738494;
}

.light-section {
  background-color: #f6f7f4;
}
/* 
.hero-section {
}

.trending-section {
}

.editorpicks-section {
}

.feed-section {
}
*/

.featuredImgDiv, .trendingImgDiv, .resultingImgDiv {
  height: 70vh;
  box-shadow: 0 0 10px #38404c;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: none;
}

.articleSnippetDiv, .trendingSnippetDiv, .resultingSnippetDiv {
  margin: -40px -40px;
  padding: 60px 40px;
  background-color: #f6f7f4;
  /* border-top: 2px solid #5c96be;
  border-bottom: 2px solid #5c96be; */
  box-shadow: 0 0 30px #38404c;
  transform: skewY(3deg);
}

.articleSnippetDiv h3, .trendingSnippetDiv h3, .resultingSnippetDiv h3 {
  font-size: 18px;
  text-transform: capitalize;
}

.articleSnippetDiv p, .trendingSnippetDiv p, .resultingSnippetDiv p {
  margin: 0 0 35px 0;
}

.articleSnippetDiv a, .trendingSnippetDiv a, .resultingSnippetDiv a {
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #f6f7f4;
  background-color: #5c96be;
  padding: 8px 14px;
  border: 2px solid #f6f7f4;
  border-radius: 5px;
  transition: ease-in-out .25s;
  -moz-animation: ease-in-out .25s;
  -o-animation: ease-in-out .25s;
  -webkit-animation: ease-in-out .25s;
}

.articleSnippetDiv a:hover, .trendingSnippetDiv a:hover, .resultingSnippetDiv a:hover {
  background-color: #f6f7f4;
  color: #5c96be;
  border: 2px solid #5c96be;
  transition: ease-in-out .25s;
  -moz-animation: ease-in-out .25s;
  -o-animation: ease-in-out .25s;
  -webkit-animation: ease-in-out .25s;
}

.search-div {
  margin-bottom: 25px;
}

#queryBox {
  padding: 8px 12px;
  margin: 10px;
  color: white;
  font-size: 1.2em;
  background-color: transparent;
  border: 2px solid #f6f7f4;
  border-radius: 4px;
  /**/
  transition: ease-in-out .25s;
  -moz-animation: ease-in-out .25s;
  -o-animation: ease-in-out .25s;
  -webkit-animation: ease-in-out .25s;
}

#queryBox:focus {
  color: #5c96be;
  background-color: #f6f7f4;
  /**/
  transition: ease-in-out .25s;
  -moz-animation: ease-in-out .25s;
  -o-animation: ease-in-out .25s;
  -webkit-animation: ease-in-out .25s;
}

#searchBtn {
  padding: 8px 12px;
  margin: 10px;
  color: #5c96be;
  font-size: 1.2em;
  text-transform: uppercase;
  border: 2px solid #f6f7f4;
  border-radius: 4px;
  /**/
  transition: ease-in-out .25s;
  -moz-animation: ease-in-out .25s;
  -o-animation: ease-in-out .25s;
  -webkit-animation: ease-in-out .25s;
}

#searchBtn:hover {
  color: white;
  background-color: transparent;
  /**/
  transition: ease-in-out .25s;
  -moz-animation: ease-in-out .25s;
  -o-animation: ease-in-out .25s;
  -webkit-animation: ease-in-out .25s;
}

/********************  Footer  ********************/

footer {
  position: sticky;
  bottom: 0;
  padding: 25px;
  text-align: center;
  background: linear-gradient(#5c97be00, #5c96be)
}

footer li {
  display: inline-block;
  margin-top: 15px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer li a {
  margin: 0px 10px;
  padding: 10px 14px;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 350;
  letter-spacing: 1px;
  border-radius: 5px;
  text-shadow: 0 0 10px #38404c;
  transition: ease-in-out .25s;
  -moz-animation: ease-in-out .25s;
  -o-animation: ease-in-out .25s;
  -webkit-animation: ease-in-out .25s;
}

footer li a:hover {
  background-color: white;
  color: #5c97be;
  text-shadow: none;
  transition: ease-in-out .25s;
  -moz-animation: ease-in-out .25s;
  -o-animation: ease-in-out .25s;
  -webkit-animation: ease-in-out .25s;
}

#hi {
  position: fixed;
  background: none;
  height: 15px;
  width: 10px;
  right: 2px;
  bottom: 2px;
}