@charset "utf-8";

/*
brand fonts: Montserrat, Quattrocento Sans, Gruppo, Fredericka the Great;
brand colors: #f6f7f4, #86b58c, #5c96be, #738494, #38404c;
*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  background-color: #5c96be;
}

/********************  Header  ********************/

header {
  height: 50px;
  margin: 10px 15px;
}

header h1 {
  display: inline;
  /* margin: 0 15px; */
  font-size: 2.5em;
}

header h6 {
  display: inline;
  font-size: 1.2em;
  font-weight: 300;
  color: white;
}

header li {
  display: inline-flex;
  float: right;
  margin-top: 15px;
}

header a {
  text-decoration: none;
  color: white;
}

header li a {
  margin: 0px 10px;
  padding: 10px 14px;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 300;
  letter-spacing: 1px;
  border-radius: 5px;
  /**/
  transition: ease-in-out .25s;
  -moz-animation: ease-in-out .25s;
  -o-animation: ease-in-out .25s;
  -webkit-animation: ease-in-out .25s;
}

header li a:hover {
  background-color: white;
  color: #5c97be;
  /**/
  transition: ease-in-out .25s;
  -moz-animation: ease-in-out .25s;
  -o-animation: ease-in-out .25s;
  -webkit-animation: ease-in-out .25s;
}

#searchCTA {
  border: 1px solid white;
}

#refreshNavIcon {
  margin-top: 5px;
  height: 5px;
  width: 5px;
  background: url(/_assets/refreshicon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#refreshNavIcon:hover {

  /**/
  transition: ease-in-out .25s;
  -moz-animation: ease-in-out .25s;
  -o-animation: ease-in-out .25s;
  -webkit-animation: ease-in-out .25s;
}

#refreshFooterIcon {
  margin-top: 4px;
  margin-left: 20px;
  height: 6px;
  width: 6px;
  background: url(/_assets/refreshicon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  /**/
  transition: ease-in-out .25s;
  -moz-animation: ease-in-out .25s;
  -o-animation: ease-in-out .25s;
  -webkit-animation: ease-in-out .25s;
}

#refreshFooterIcon:hover {

  /**/
  transition: ease-in-out .25s;
  -moz-animation: ease-in-out .25s;
  -o-animation: ease-in-out .25s;
  -webkit-animation: ease-in-out .25s;
}

#scrollToTopIcon {
  margin-top: 4px;
  margin-right: 20px;
  height: 6px;
  width: 6px;
  background: url(/_assets/scrolltotop.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  /**/
  transition: ease-in-out .25s;
  -moz-animation: ease-in-out .25s;
  -o-animation: ease-in-out .25s;
  -webkit-animation: ease-in-out .25s;
}

#scrollToTopIcon:hover {
    
    /**/
    transition: ease-in-out .25s;
    -moz-animation: ease-in-out .25s;
    -o-animation: ease-in-out .25s;
    -webkit-animation: ease-in-out .25s;
}

/********************  Main  ********************/

main {
  margin: 0 auto 100px auto;
  text-align: center;
}

section {
  margin: 0 5vw;
}

.section-title {
  margin-right: 2vw;
  margin-top: 125px;
  margin-bottom: -30px;
  transform: skewY(3deg);
}

.section-title h2 {
  font-family: "Montserrat", sans-serif;
  text-align: right;
  text-transform: uppercase;
  color: #00000033;
  font-size: 8em;
  font-weight: 900;
  line-height: .9;
  /**/
  transition: ease-in-out .25s;
  -moz-animation: ease-in-out .25s;
  -o-animation: ease-in-out .25s;
  -webkit-animation: ease-in-out .25s;
}

.section-title h2:hover {
  color: #ffffff85;
  /**/
  transition: ease-in-out .25s;
  -moz-animation: ease-in-out .25s;
  -o-animation: ease-in-out .25s;
  -webkit-animation: ease-in-out .25s;
}

.dark-section {
  background-color: #738494;
}

.light-section {
  background-color: #f6f7f4;
}

.featuredImgDiv, .trendingImgDiv, .resultingImgDiv {
  height: 90vh;
  box-shadow: 0 0 10px #38404c;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: none;
}

.articleSnippetDiv, .trendingSnippetDiv, .resultingSnippetDiv {
  margin: -40px -40px;
  padding: 60px 50px;
  background-color: #f6f7f4;
  border-top: 5px solid #5c96be;
  border-bottom: 5px solid #5c96be;
  box-shadow: 0 0 30px #38404c;
  transform: skewY(3deg);
}

.articleSnippetDiv h3, .trendingSnippetDiv h3, .resultingSnippetDiv h3, .editorpicks-section h3 {
  font-size: 1.2em;
  text-transform: capitalize;
}

.articleSnippetDiv h5, .trendingSnippetDiv h5, .resultingSnippetDiv h5, .editorpicks-section h5 {
  text-transform: lowercase;
  font-size: 1.1em;
  font-weight: 300;
}

.articleSnippetDiv p, .trendingSnippetDiv p, .resultingSnippetDiv p, .editorpicks-section p {
  margin: 0 35px 35px 35px;
}

.articleSnippetDiv a, .trendingSnippetDiv a, .resultingSnippetDiv a, .editorpicks-section a {
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #f6f7f4;
  background-color: #5c96be;
  padding: 8px 14px;
  border: 2px solid #f6f7f4;
  border-radius: 5px;
  /**/
  transition: ease-in-out .25s;
  -moz-animation: ease-in-out .25s;
  -o-animation: ease-in-out .25s;
  -webkit-animation: ease-in-out .25s;
}

.articleSnippetDiv a:hover, .trendingSnippetDiv a:hover, .resultingSnippetDiv a:hover, .editorpicks-section a:hover {
  background-color: #f6f7f4;
  color: #5c96be;
  border: 2px solid #5c96be;
  /**/
  transition: ease-in-out .25s;
  -moz-animation: ease-in-out .25s;
  -o-animation: ease-in-out .25s;
  -webkit-animation: ease-in-out .25s;
}

.query-div {
  margin-bottom: 25px;
}

#queryBox {
  padding: 8px 12px;
  margin: 10px;
  color: white;
  font-size: 1.2em;
  background-color: transparent;
  border: 2px solid #f6f7f4;
  border-radius: 4px;
  /**/
  transition: ease-in-out .25s;
  -moz-animation: ease-in-out .25s;
  -o-animation: ease-in-out .25s;
  -webkit-animation: ease-in-out .25s;
}

#queryBox:focus {
  color: #5c96be;
  background-color: #f6f7f4;
  /**/
  transition: ease-in-out .25s;
  -moz-animation: ease-in-out .25s;
  -o-animation: ease-in-out .25s;
  -webkit-animation: ease-in-out .25s;
}

#searchBtn {
  padding: 8px 12px;
  margin: 10px;
  color: #5c96be;
  font-size: 1.2em;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid #f6f7f4;
  border-radius: 4px;
  /**/
  transition: ease-in-out .25s;
  -moz-animation: ease-in-out .25s;
  -o-animation: ease-in-out .25s;
  -webkit-animation: ease-in-out .25s;
}

#searchBtn:hover {
  color: white;
  background-color: transparent;
  /**/
  transition: ease-in-out .25s;
  -moz-animation: ease-in-out .25s;
  -o-animation: ease-in-out .25s;
  -webkit-animation: ease-in-out .25s;
}

/********************  Footer  ********************/

footer {
  position: sticky;
  bottom: 0;
  padding: 25px;
  text-align: center;
  background: linear-gradient(#5c97be00, #5c96be)
}

footer li {
  display: inline-block;
  margin-top: 15px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer li a {
  margin: 0px 10px;
  padding: 10px 14px;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 350;
  letter-spacing: 1px;
  border-radius: 5px;
  text-shadow: 0 0 10px #38404c;
  /**/
  transition: ease-in-out .25s;
  -moz-animation: ease-in-out .25s;
  -o-animation: ease-in-out .25s;
  -webkit-animation: ease-in-out .25s;
}

footer li a:hover {
  background-color: white;
  color: #5c97be;
  text-shadow: none;
  /**/
  transition: ease-in-out .25s;
  -moz-animation: ease-in-out .25s;
  -o-animation: ease-in-out .25s;
  -webkit-animation: ease-in-out .25s;
}

#hi {
  position: fixed;
  background: none;
  height: 15px;
  width: 10px;
  right: 2px;
  bottom: 2px;
}

#footerBar {
  /**/
  transition: ease-in-out .25s;
  -moz-animation: ease-in-out .25s;
  -o-animation: ease-in-out .25s;
  -webkit-animation: ease-in-out .25s;
}

#mobileFooterNav {
  display: none;
}
 

/********************  Media Queries  ********************/

@media screen and (min-width: 1690px) {
  .articleSnippetDiv p, .trendingSnippetDiv p, .resultingSnippetDiv p, .editorpicks-section p {
    margin: 0 8vw 35px 8vw;
  }
}

@media screen and (max-width: 980px) {
  
  header li {
    display: none;
  }

  .section-title {
    margin-top: 50px;
  }

  .section-title h2 {
    font-size: 7em;
  }

  #thelatest {
    margin-top: 150px;
  }

  #searching {
    margin-top: 150px;
  }

  .articleSnippetDiv p, .trendingSnippetDiv p, .resultingSnippetDiv p, .editorpicks-section p {
    margin: 0 0 35px 0;
  }

  #mobileFooterNav {
    display: none;
  }
}


@media screen and (max-width: 736px) {
  
  .section-title h2 {
    font-size: 5.25em;
  }

  .featuredImgDiv, .trendingImgDiv, .resultingImgDiv {
    height: 80vh;
  }

  #footerNav {
    display: none;
  }
  
  #mobileFooterNav {
    display: contents;
  }
}

@media screen and (max-width: 480px) {

  header h1 {
    font-size: 2em
  }
    
  header h6 {
    font-size: 1.1em;
  }

  .section-title {
    margin-top: 75px;
  }

  #thelatest {
    margin-top: 125px;
    margin-bottom: 25px;
  }

  #searching {
    margin-top: 125px;
    margin-bottom: 25px;
  }

  .section-title h2 {
    font-size: 3.5em;
    text-align: center;
  }

  .articleSnippetDiv a, .trendingSnippetDiv a, .resultingSnippetDiv a, .editorpicks-section a {
    padding: 12px 15px;
  }

  #queryBox {
    padding: 12px 30px;
  }

  #searchBtn {
    padding: 12px 30px;
  }

  #mobileFooterNav {
    font-size: .85em;
  }

  #mobileFooterNav a {
    margin: 0 5px;
  }

}